djangorestframework
djoser
django-cors-headers
django-notifs
celery
pika
waitress


amqp
billiard
channels
channels-postgres
Django
django-templated-mail
djangorestframework-simplejwt
gevent
greenlet
kombu
PyJWT
pytz
simplejson
six
vine